*.la
*.lo
*.o
*.1
*~
.deps
.libs
configure
config.*
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
depcomp
install-sh
libtool
ltmain.sh
missing
create_tpm2_key
load_tpm2_key
test-driver
tests/*.log
tests/*.trs
tests/tmp.*
tests/*.pub
tests/*.key
tests/*.priv
tests/key.*
tests/derive.*
tests/*.bin
tests/*.tpm
tests/*.txt
tests/NVChip
