HOME		= .
RANDFILE	= $ENV::HOME/.rnd
openssl_conf	= openssl_init
SRKPIN		=
NVPREFIX	= //nvkey:

[req]
distinguished_name = req_distinguished_name

[req_distinguished_name]
commonName	= Common Name
commonName_max	= 64

[openssl_init]
engines		= engines_section

[engines_section]
tpm2		= tpm2_section

[tpm2_section]
dynamic_path	= $ENV::srcdir/../../src/engine/.libs/libtpm2.so
init		= 1
PIN		= $ENV::SRKPIN
NVPREFIX	= $ENV::NVPREFIX
